<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />

    <queries>
        <!-- Query Camera Packages -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <!-- Query Open Document -->
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT_TREE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        tools:targetApi="31">

        <activity
            android:name=".imagepicker.ImagePickerActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <provider
            android:name=".imagepicker.ImagePickerFileProvider"
            android:authorities="${applicationId}.utilites.imagepicker.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/image_picker_provider_paths" />
        </provider>

    </application>

</manifest>